body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#all{
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: palegoldenrod;
}

#show{
    margin: 2%;
    border: 0;
    padding: 0;
    width: 96%;
    height: 58%;
    outline: black solid 2px;
    border-radius: 5px;
}

#ul{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
}

#ul li{
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

#control{
    margin: 2%;
    border: 0;
    padding: 0;
    width: 96%;
    height: 38%;
    outline: black solid 2px;
    border-radius: 5px;
}

button{
    width: auto;
    height: 2rem;
    font-size: 15px;
    padding: 0 1rem;
    margin: 5px;
    border: 0;
    border-radius: 5px;
    outline: black solid 2px;
}

input{
    width: 250px;
    height: 2rem;
    font-size: 20px;
    padding: 0;
    margin: 5px;
    border: 0;
    border-radius: 5px;
    outline: black solid 2px;
}

.chat{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 5px;
    border: 0;
}

#start{
    margin: 2%;
    border: 0;
    padding: 0;
    width: 96%;
    height: 38%;
    outline: black solid 2px;
    border-radius: 5px;
}
